name: .NET Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release /p:DebugType=None
    - name: Rename executables
      working-directory: /home/runner/work/Obsidian/Obsidian/Obsidian.ConsoleApp/bin/Release/net6.0/
      run: |
        mv Obsidian.ConsoleApp.dll ObsidianApp.dll
        mv Obsidian.ConsoleApp.deps.json ObsidianApp.deps.json
        mv Obsidian.ConsoleApp.runtimeconfig.json ObsidianApp.runtimeconfig.json
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.4
      with:
        name: Obsidian-Nightly-Build
        path: /home/runner/work/Obsidian/Obsidian/Obsidian.ConsoleApp/bin/Release/net6.0/
      if: ${{ github.event_name == 'push' }} # Only upload artifacts on push, don't upload them for PRs
    - name: Discord Webhook Action
      uses: tsickert/discord-webhook@v4.0.0
      with:
        webhook-url: ${{ secrets.BUILD_WEBHOOK }}
        embed-title: New Obsidian build available!
        embed-description: |
          GH Actions Run: [`${{ github.run_id }}`](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}) (Download under "artifacts")
          Commit SHA: [`${{ github.sha }}`](https://github.com/${{github.repository}}/commit/${{github.sha}})
          Developer: [`${{ github.actor }}`](https://github.com/${{ github.actor }})
        embed-color: 2424876
        embed-footer-text: "[Obsidian, A C# implementation of the Minecraft server protocol.](https://github.com/ObsidianMC/Obsidian)"
        if: ${{ github.event_name == 'push' }} # Only publish webhook on push.
